
<div class="row">
  
    <div class=" col-sm-5" >
      <div class="container">
      <form class="form-group" [formGroup]="newProjectFrom" (ngSubmit)="createNewProject()">
        <span style="text-align: center;"><h2>Create New Board</h2></span><hr>
        <div class="row">
        <!-- <div class="col-sm-6">
          <label for="projId">Project ID :</label>
          <input class="form-control" type="number" formControlName="projId" placeholder="Enter ID">
        </div> -->
        <div class="col-sm-6">
          <label for="projName">Project Name :</label>
          <input class="form-control" type="text" formControlName="projName" placeholder="Enter Name">
        </div>
      </div>
      <br>
        <div class="col-sm-6" >
            <button class="btn btn-primary"[disabled]="newProjectFrom.invalid" >Create Project</button>
        </div>
     
      </form>
    </div></div>
</div>
