<div id="container">
 
  <div class="box">

    <!-- =========================== -->
    <div class="row">
      <div class="col-md-4">Create New Project</div>
      <button type="button" class="btn btn-success" (click)="openDialog()">
        <mat-icon>create_new_folder</mat-icon>
      </button>
    </div>
    <!-- ========================== -->
    <br><br>
    <h1 style="font-size:50px ; margin-top:20px ; text-align:center ;"><b>BOARDS</b></h1>
    <hr style="height: 2px; color: gray;background-color: gray; width: 85%;">
    <img src="assets\proj.png" alt="project" width="600px" height="500px" style="float: right; margin-right: 10px;">
    <div class="container">

      <div class="grid-container">

        <div class="grid-item-list">Board Name </div>
        <div class="grid-item-list">Launch</div>
        <div class="grid-item-list">Delete</div>

      </div>
      <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.827); width: 45%;">
      <div style="height:420px ; overflow-y: scroll;">
        <!-- -------------------------------------- -->
        <div *ngFor="let p of projectList">


          <div class="grid-container">

            <div class="grid-item-list1">
              <h2>{{p.projName}} </h2>
            </div>
            <!-- <div class="grid-item-list2" >  <a (click)="openProject(p.projId)"> <mat-icon>open_in_new</mat-icon></a></div> -->

            <div class="grid-item-list"> <button class="btn btn-info " (click)="openProject(p)">
                <!-- <mat-icon>folder_open</mat-icon> -->
                <mat-icon>launch</mat-icon>
              </button></div>

            <!-- <div class="grid-item-list3">  <a (click)="deleteProject(p.projId)"><mat-icon style="color:red;">delete_forever</mat-icon></a></div> -->

            <div class="grid-item-list"> <button class="btn btn-danger" (click)="deleteProject(p.projId)">
                <mat-icon>delete_forever</mat-icon>
              </button></div>
          </div>
        </div>





      </div>
    </div>
    <!-- -------------------------------- -->



    <!-- </div> -->
  </div>
</div>