
<div style="margin-top:10%; margin-left: 35px;">
    <div style="text-align: center;font-size: 40px;"><u><b>OUR TEAM</b></u></div><br><br>
<mat-card class="example-card" >
    <mat-card-title ><u>Ashish Ahuja</u></mat-card-title>
    <br>
    <mat-card-content>
      <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>
      <p><b>Email</b>: ashish.ahuja7854@gmail.com<br><b>Mobile No.</b>: 7499553443</p>
      
      
    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title><u>Rajanikant Patil</u></mat-card-title>
    <br>
    <mat-card-content>
        <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>     
        <p><b>Email</b>: rajanikantspatil13@gmail.com<br><b>Mobile No.</b>: 9673736884</p>
    </mat-card-content>
    
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title><u>Dwaraka Manikandan</u></mat-card-title>
    <br>
    <mat-card-content>
        <p><b>Certification</b>:NIIT StackRoute PGP in Full Stack Software Engineering</p>    
        <p><b>Email</b>: mdwaraka99@gmail.com<br><b>Mobile No.</b>: 7338909823</p>
    </mat-card-content>
    
  </mat-card>
</div>
